/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/batches.meta
/docs/tutorials/beginner/module/code/data/cifar-10-python.tar.gz
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/data_batch_1
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/data_batch_2
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/data_batch_3
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/data_batch_4
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/data_batch_5
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/readme.html
/docs/tutorials/beginner/module/code/data/cifar-10-batches-py/test_batch
