site_name: tinyBIG by IFM Lab
site_url: https://www.tinybig.org/
repo_url: https://github.com/jwzhanggy/tinyBIG
edit_uri: blob/main/docs/
repo_name: Edit on Github
copyright: Copyright &copy; 2024  <a href="https://www.ifmlab.org/">IFM Lab</a>. All rights reserved.

theme:
  name: material
  logo: assets/img/logo_white.png
  favicon: assets/img/logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: Roboto
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: "deep purple"
      accent: "deep purple"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: "deep purple"
      accent: "deep purple"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    # navigation features
    - navigation.footer
    - navigation.indexes
    #- navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    #- navigation.instant
    #- navigation.instant.progress
    #- navigation.tracking
    #- navigation.tabs.sticky
    #- navigation.path
    # header features
    #- header.autohide
    - announce.dismiss
    # code features
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    # search features
    - search.highlight
    - search.share
    - search.suggest
    # toc features
    - toc.follow

markdown_extensions:
  - tables
  - def_list
  - admonition
  - md_in_html
  - neoteroi.timeline
  - neoteroi.cards
  - neoteroi.projects
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
      block_tag: 'pre'
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - overrides/javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - overrides/javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  - https://clustrmaps.com/globe.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - overrides/css/custom.css
  - overrides/css/neoteroi-mkdocs.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jwzhanggy/tinyBIG

  # the footnote generator notice, copyright
  #generator: false
  toolkit: 'tinyBIG'
  our: 'RPN'
  author: 'Jiawei Zhang'
  affiliation: 'IFM Lab'

plugins:
  - search
  - macros
  #- glightbox
  - mkdocs-jupyter
  - blog:
      #authors_profiles: true
      enabled: true
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            heading_level: 3
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

#===========================================
nav:
  - Home: index.md
  - Get Started:
    - guides/index.md
    - About us: guides/about_us.md
    - Installation: guides/installation.md
    - Quickstart: guides/quick_start.md
  - Docs:
    - documentations/index.md
    - tinybig:
      - documentations/tinybig/index.md
    - tinybig.module:
      - documentations/module/index.md
      - documentations/module/transformation.md
      - documentations/module/fabrication.md
      - documentations/module/remainder.md
      - documentations/module/rpn_head.md
      - documentations/module/rpn_layer.md
    - tinybig.expansion:
      - documentations/expansion/index.md
      - documentations/expansion/identity_expansion.md
      - documentations/expansion/reciprocal_expansion.md
      - documentations/expansion/linear_expansion.md
      - documentations/expansion/taylor_expansion.md
      - documentations/expansion/fourier_expansion.md
      - documentations/expansion/bspline_expansion.md
      - documentations/expansion/chebyshev_expansion.md
      - documentations/expansion/jacobi_expansion.md
      - documentations/expansion/hyperbolic_expansion.md
      - documentations/expansion/arc_hyperbolic_expansion.md
      - documentations/expansion/trigonometric_expansion.md
      - documentations/expansion/arc_trigonometric_expansion.md
      - documentations/expansion/gaussian_rbf_expansion.md
      - documentations/expansion/inverse_quadratic_rbf_expansion.md
      - documentations/expansion/naive_normal_expansion.md
      - documentations/expansion/naive_cauchy_expansion.md
      - documentations/expansion/naive_chi2_expansion.md
      - documentations/expansion/naive_gamma_expansion.md
      - documentations/expansion/naive_exponential_expansion.md
      - documentations/expansion/naive_laplace_expansion.md
      - documentations/expansion/combinatorial_expansion.md
      - documentations/expansion/combinatorial_normal_expansion.md
      - documentations/expansion/nested_expansion.md
      - documentations/expansion/extended_expansion.md
    - tinybig.reconciliation:
      - documentations/reconciliation/index.md
      - documentations/reconciliation/constant_reconciliation.md
      - documentations/reconciliation/zero_reconciliation.md
      - documentations/reconciliation/one_reconciliation.md
      - documentations/reconciliation/constant_eye_reconciliation.md
      - documentations/reconciliation/identity_reconciliation.md
      - documentations/reconciliation/masking_reconciliation.md
      - documentations/reconciliation/duplicated_padding_reconciliation.md
      - documentations/reconciliation/lorr_reconciliation.md
      - documentations/reconciliation/hm_reconciliation.md
      - documentations/reconciliation/lphm_reconciliation.md
      - documentations/reconciliation/dual_lphm_reconciliation.md
      - documentations/reconciliation/hypernet_reconciliation.md
    - tinybig.remainder:
      - documentations/remainder/index.md
      - documentations/remainder/constant_remainder.md
      - documentations/remainder/zero_remainder.md
      - documentations/remainder/one_remainder.md
      - documentations/remainder/identity_remainder.md
      - documentations/remainder/linear_remainder.md
      - documentations/remainder/bspline_remainder.md
    - tinybig.model:
      - documentations/model/index.md
      - documentations/model/model.md
      - documentations/model/rpn.md
    - tinybig.config:
      - documentations/config/index.md
      - documentations/config/config.md
      - documentations/config/rpn_config.md
    - tinybig.learner:
      - documentations/learner/index.md
      - documentations/learner/learner.md
      - documentations/learner/backward_learner.md
      - documentations/learner/forward_learner.md
    - tinybig.data:
      - documentations/data/index.md
      - documentations/data/dataset.md
      - documentations/data/dataloader.md
      - documentations/data/function_dataloader.md
      - documentations/data/elementary_function.md
      - documentations/data/composite_function.md
      - documentations/data/feynman_function.md
      - documentations/data/dimensionless_feynman_function.md
      - documentations/data/mnist.md
      - documentations/data/cifar10.md
      - documentations/data/imagenet.md
      - documentations/data/text_dataloader.md
      - documentations/data/imdb.md
      - documentations/data/sst2.md
      - documentations/data/agnews.md
      - documentations/data/tabular_dataloader.md
      - documentations/data/iris.md
      - documentations/data/diabetes.md
      - documentations/data/banknote.md
    - tinybig.output:
      - documentations/output/index.md
      - documentations/output/output.md
      - documentations/output/rpn_output.md
    - tinybig.metric:
      - documentations/metric/index.md
      - documentations/metric/metric.md
      - documentations/metric/accuracy.md
      - documentations/metric/f1.md
      - documentations/metric/mse.md
    - tinybig.util:
      - documentations/util/index.md
      - documentations/util/set_random_seed.md
      - documentations/util/get_obj_from_str.md
      - documentations/util/process_num_alloc_configs.md
      - documentations/util/process_function_list.md
      - documentations/util/register_function_parameters.md
      - documentations/util/special_function_process.md
      - documentations/util/func_x.md
      - documentations/util/str_func_x.md
      - documentations/util/string_to_function.md
      - documentations/util/create_directory_if_not_exists.md
  - Tutorials:
      - tutorials/index.md
      - Beginner's Tutorials:
        - tutorials/beginner/index.md
        - Expansion Function: tutorials/beginner/module/expansion_function.md
#        - Extended/Nested Expansion: tutorials/beginner/module/extended_nested_expansion.md
#        - Reconciliation Function: tutorials/beginner/module/reconciliation_function.md
#        - Remainder Function: tutorials/beginner/module/remainder_function.md
#        - Data Processing Function: tutorials/beginner/module/data_processing_function.md
#        - RPN Model: tutorials/beginner/model/rpn_model.md
#        - Wide RPN: tutorials/beginner/model/wide_rpn.md
#        - Deep RPN: tutorials/beginner/model/deep_rpn.md
#        - RPN Configurations: tutorials/beginner/model/rpn_config.md
#        - Continuous Data: tutorials/beginner/data/function_data.md
#        - Image Data: tutorials/beginner/data/image_data.md
#        - Text Data: tutorials/beginner/data/text_data.md
#        - Tabular Data: tutorials/beginner/data/tabular_data.md
#        - Function Approximation: tutorials/beginner/task/function_approximation.md
#        - Image Classification: tutorials/beginner/task/image_classification.md
#        - Text Classification: tutorials/beginner/task/text_classification.md
#        - Dependency Inference: tutorials/beginner/task/dependency_inference.md
      - Advanced Tutorials:
        - tutorials/advanced/index.md
  - Examples:
      - examples/index.md
      - Elementary Function Approximation: examples/function/elementary.md
      - Composite Function Approximation: examples/function/composite.md
      - Feynman Function Approximation: examples/function/feynman.md
      - MNIST Classification: examples/image/mnist.md
      - MNIST with Dual LPHM: examples/image/mnist_dual_lphm.md
      - CIFAR10 Classification: examples/image/cifar10.md
      - Failure of KAN: examples/text/kan.md
      - IMDB Classification: examples/text/imdb.md
      - AGNews Classification: examples/text/agnews.md
      - SST2 Classification: examples/text/sst2.md
      - Iris Species Inference: examples/tabular/iris.md
      - Diabetes Diagnosis Inference: examples/tabular/diabetes.md
      - Banknote Authentication Inference: examples/tabular/banknote.md
  - Blogs:
      - blog/index.md
  - News:
      - news/index.md
      - Research News: news/research.md
      #- New Products: news/product.md
      - Library Updates: news/toolkit.md
  - Contact us:
      - contact/index.md
      - contact/sponsors.md
      - contact/contributing.md
      #- contact/privacy.md
      - contact/license.md
      #- contact/certificate.md
#===========================================