configurations:
  device: &device mps
  random_seed: 1234

  data_configs:
    data_class: tinybig.data.cifar10
    data_parameters:
      name: mnist
      train_batch_size: 64
      test_batch_size: 64

  learner_configs:
    learner_class: tinybig.learner.backward_learner
    learner_parameters:
      name: error_backward_propagation
      n_epochs: 11
      optimizer_configs:
        optimizer_class: torch.optim.AdamW
        optimizer_parameters:
          lr: 1.7e-03
          weight_decay: 1.0e-05
      lr_scheduler_configs:
        lr_scheduler_class: torch.optim.lr_scheduler.ExponentialLR
        lr_scheduler_parameters:
          gamma: 0.65
      loss_configs:
        loss_class: torch.nn.CrossEntropyLoss
        loss_parameters:
          reduction: mean

  model_configs:
    model_class: tinybig.model.rpn
    model_parameters:
      device: *device
      name: reconciled_polynomial_network
      depth: 3
      depth_alloc: [1, 1, 1]
      layer_configs:
        - layer_class: tinybig.module.rpn_layer
          layer_parameters:
            name: rpn_layer
            m: 3072
            n: 512
            width: 1
            width_alloc: [1]
            head_configs:
              - head_class: tinybig.module.rpn_head
                head_parameters:
                  l: null
                  channel_num: 1
                  data_transformation_configs:
                    function_class: tinybig.expansion.identity_expansion
                    function_parameters:
                      name: identity_expansion
                  parameter_fabrication_configs:
                    function_class: tinybig.reconciliation.identity_reconciliation
                    function_parameters:
                      name: identity_reconciliation
                  remainder_configs:
                    function_class: tinybig.remainder.zero_remainder
                    function_parameters:
                      name: zero_remainder
                  output_process_function_configs:
                    - function_class: torch.nn.GELU
                    - function_class: torch.nn.BatchNorm1d
                      function_parameters:
                        num_features: 512
                        device: *device

        - layer_class: tinybig.module.rpn_layer
          layer_parameters:
            name: rpn_layer
            m: 512
            n: 256
            width:
            width_alloc: [ 1 ]
            head_configs:
              - head_class: tinybig.module.rpn_head
                head_parameters:
                  l:
                  channel_num: 1
                  data_transformation_configs:
                    function_class: tinybig.expansion.identity_expansion
                    function_parameters:
                      name: identity_expansion
                  parameter_fabrication_configs:
                    function_class: tinybig.reconciliation.identity_reconciliation
                    function_parameters:
                      name: identity_reconciliation
                  remainder_configs:
                    function_class: tinybig.remainder.zero_remainder
                    function_parameters:
                      name: zero_remainder
                  output_process_function_configs:
                    - function_class: torch.nn.GELU
                    - function_class: torch.nn.BatchNorm1d
                      function_parameters:
                        num_features: 256
                        device: *device

        - layer_class: tinybig.module.rpn_layer
          layer_parameters:
            name: rpn_layer
            m: 256
            n: 10
            width:
            width_alloc: [ 1 ]
            head_configs:
              - head_class: tinybig.module.rpn_head
                head_parameters:
                  l:
                  channel_num: 1
                  data_transformation_configs:
                    function_class: tinybig.expansion.identity_expansion
                    function_parameters:
                      name: identity_expansion
                  parameter_fabrication_configs:
                    function_class: tinybig.reconciliation.identity_reconciliation
                    function_parameters:
                      name: identity_reconciliation
                  remainder_configs:
                    function_class: tinybig.remainder.zero_remainder
                    function_parameters:
                      name: zero_remainder

  metric_configs:
    metric_class: tinybig.metric.accuracy
    metric_parameters:
      name: accuracy

  output_configs:
    output_class: tinybig.output.rpn_output
    output_parameters:
      name: prediction_output